/***     ***/
/*  WIDTH  */
/***     ***/
%w-1 {
  width: 1px;
}

.w-1 {
  @extend %w-1;
}

%w-2 {
  width: 2px;
}

.w-2 {
  @extend %w-2;
}

%w-3 {
  width: 3px;
}

.w-3 {
  @extend %w-3;
}

%w-4 {
  width: 4px;
}

.w-4 {
  @extend %w-4;
}

%w-5 {
  width: 5px;
}

.w-5 {
  @extend %w-5;
}

%w-6 {
  width: 6px;
}

.w-6 {
  @extend %w-6;
}

%w-7 {
  width: 7px;
}

.w-7 {
  @extend %w-7;
}

%w-8 {
  width: 8px;
}

.w-8 {
  @extend %w-8;
}

%w-9 {
  width: 9px;
}

.w-9 {
  @extend %w-9;
}

%w-10 {
  width: 10px;
}

.w-10 {
  @extend %w-10;
}

%w-11 {
  width: 11px;
}

.w-11 {
  @extend %w-11;
}

%w-12 {
  width: 12px;
}

.w-12 {
  @extend %w-12;
}

%w-13 {
  width: 13px;
}

.w-13 {
  @extend %w-13;
}

%w-14 {
  width: 14px;
}

.w-14 {
  @extend %w-14;
}

%w-15 {
  width: 15px;
}

.w-15 {
  @extend %w-15;
}

%w-16 {
  width: 16px;
}

.w-16 {
  @extend %w-16;
}

%w-17 {
  width: 17px;
}

.w-17 {
  @extend %w-17;
}

%w-18 {
  width: 18px;
}

.w-18 {
  @extend %w-18;
}

%w-50 {
  width: 50px;
}

.w-50 {
  @extend %w-50;
}

%w-103 {
  width: 103px;
}

.w-103 {
  @extend %w-103;
}

%w-116 {
  width: 116px;
}

.w-116 {
  @extend %w-116;
}


/***     ***/
/*  HEIGTH  */
/***     ***/

%h-1 {
  height: 1px;
}

.h-1 {
  @extend %h-1;
}

%h-2 {
  height: 2px;
}

.h-2 {
  @extend %h-2;
}

%h-3 {
  height: 3px;
}

.h-3 {
  @extend %h-3;
}

%h-4 {
  height: 4px;
}

.h-4 {
  @extend %h-4;
}

%h-5 {
  height: 5px;
}

.h-5 {
  @extend %h-5;
}

%h-6 {
  height: 6px;
}

.h-6 {
  @extend %h-6;
}

%h-7 {
  height: 7px;
}

.h-7 {
  @extend %h-7;
}

%h-8 {
  height: 8px;
}

.h-8 {
  @extend %h-8;
}

%h-9 {
  height: 9px;
}

.h-9 {
  @extend %h-9;
}

%h-10 {
  height: 10px;
}

.h-10 {
  @extend %h-10;
}

%h-11 {
  height: 11px;
}

.h-11 {
  @extend %h-11;
}

%h-12 {
  height: 12px;
}

.h-12 {
  @extend %h-12;
}

%h-13 {
  height: 13px;
}

.h-13 {
  @extend %h-13;
}

%h-14 {
  height: 14px;
}

.h-14 {
  @extend %h-14;
}

%h-15 {
  height: 15px;
}

.h-15 {
  @extend %h-15;
}

%h-16 {
  height: 16px;
}

.h-16 {
  @extend %h-16;
}

%h-17 {
  height: 17px;
}

.h-17 {
  @extend %h-17;
}

%h-18 {
  height: 18px;
}

.h-18 {
  @extend %h-18;
}











