@import "variables";

/*  FONT STYLES  */

%normal-text {
  color: $color-text;
  font-weight: 500;
}

.normal-text {
  @extend %normal-text;
}

%highlighted-text {
  color: $color-highlighted;
  font-weight: 500;
}

.highlighted-text {
  @extend %highlighted-text;
}

%white-text {
  color: $color-white;
  font-weight: 500;
}

.white-text {
  @extend %white-text;
}

/*  FONT WEIGHT  */

%fw-normal {
  font-weight: normal;
}

.fw-normal {
  @extend %fw-normal;
}

%fw-bold {
  font-weight: bold;
}

.fw-bold {
  @extend %fw-bold;
}

%fw-semibold {
  font-weight: bolder;
}

.fw-semibold {
  @extend %fw-semibold;
}

%fw-lighter {
  font-weight: lighter;
}

.fw-lighter {
  @extend %fw-lighter;
}

%fw-400 {
  font-weight: 400;
}

.fw-400 {
  @extend %fw-400;
}

%fw-500 {
  font-weight: 500;
}

.fw-500 {
  @extend %fw-500;
}

%fw-600 {
  font-weight: 600;
}

.fw-600 {
  @extend %fw-600;
}

/*  FONT SIZE  */

%fs-7 {
  font-size: 7px;
}

.fs-7 {
  @extend %fs-7;
}

%fs-8 {
  font-size: 8px;
}

.fs-8 {
  @extend %fs-8;
}

%fs-9 {
  font-size: 9px;
}

.fs-9 {
  @extend %fs-9;
}

%fs-10 {
  font-size: 10px;
}

.fs-10 {
  @extend %fs-10;
}

%fs-11 {
  font-size: 11px;
}

.fs-11 {
  @extend %fs-11;
}

%fs-12 {
  font-size: 12px;
}

.fs-12 {
  @extend %fs-12;
}

%fs-13 {
  font-size: 13px;
}

.fs-13 {
  @extend %fs-13;
}

%fs-14 {
  font-size: 14px;
}

.fs-14 {
  @extend %fs-14;
}

%fs-15 {
  font-size: 15px;
}

.fs-15 {
  @extend %fs-15;
}

%fs-16 {
  font-size: 16px;
}

.fs-16 {
  @extend %fs-16;
}

%fs-17 {
  font-size: 17px;
}

.fs-17 {
  @extend %fs-17;
}

%fs-18 {
  font-size: 18px;
}

.fs-18 {
  @extend %fs-18;
}

%fs-19 {
  font-size: 19px;
}

.fs-19 {
  @extend %fs-19;
}

%fs-20 {
  font-size: 20px;
}

.fs-20 {
  @extend %fs-20;
}

%fs-21 {
  font-size: 21px;
}

.fs-21 {
  @extend %fs-21;
}

%fs-22 {
  font-size: 22px;
}

.fs-22 {
  @extend %fs-22;
}

%fs-23 {
  font-size: 23px;
}

.fs-23 {
  @extend %fs-23;
}

%fs-24 {
  font-size: 24px;
}

.fs-24 {
  @extend %fs-24;
}
