/***      ***/
/*  COLORS  */
/***      ***/

$color-back-menu: #E5E9F0;
$color-content-hover: #EDF1F7;
$color-profile-menu: #F4F6F9;
$color-borders: #C1CAD6;
$color-block-shadow: #B7BDD8;
$color-text: #43465D;
$color-highlighted:  #4F5ED5;
$color-success: #23C9D3;
$color-error: #E01541;
$color-warning: #FA9C22;
$color-white: #FFFFFF;
$color-dark-purple: #37458b;
$color-next-button-welcome: #8E9BFF;
/* PALETA GENERAL */

/* PALETA UPLOAD FILES */

$color-purple-1: #5867DB;
$color-purple-2: #4A56B4;
$color-empty-1: #C3D0DA;


/*  SIZES  */

$border-radius: 5px;
$button-radius: 30px;
